<div class="book">
    <div class="book-contents">
        {{!-- IMPLEMENT THIS EVENTUALLY--}}
        <div class="book-image-container">
            <img src="{{image}}" alt="{{title}}">
        </div>
        <div class="book-info-container">                
            <div class="book-title">{{title}}</div>
            <div class="book-authors">{{authors}}</div>
            
            <div class="progress-labels">
                <span>Pages Read: {{pages_read}} / {{num_pages}}</span>
            </div>
            <div class="progress-bar">
                <div class="progress-fill" style="width: {{progressPercentage}}%;"></div>
            </div>

             <div class="delete-book-button">
                <button onclick="deleteUserBook({{bookID}})">Remove</button>
            </div>

            <div class="book-is-complete">{{is_complete}}</div>
        </div>
    </div>
</div>