<div class="book">
    <div class="book-contents">
        {{!-- IMPLEMENT THIS EVENTUALLY--}}
        <div class="book-image-container">
            <img src="https://i.ebayimg.com/images/g/u6wAAOSwwX1hN7xf/s-l400.jpg" alt="{{title}}">
        </div>
        <div class="book-info-container">                
            <div class="book-title">{{title}}</div>
            <div class="book-authors">{{authors}}</div>
            
            <div class="progress-labels">
                <span>Pages Read: {{pages_read}} / {{num_pages}}</span>
            </div>
            <div class="progress-bar">
                <div class="progress-fill" style="width: {{progressPercentage}}%;"></div>
            </div>

            <div class="book-authors">{{is_complete}}</div>
        </div>
    </div>
</div>