<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table id="books-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the bookID, title, author, and words --}}
        {{#each data}}
        <tr data-value={{this.bookID}}>
            <td>{{this.bookID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.author}}</td>
            <td>{{this.words}}</td>
            <td><button onclick="deleteBook({{this.bookID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_book.js"></script>

{{!-- Form to add a record to the table--}}
<form id="add-book-form-ajax">
    <label for="input-title">Title: </label>
    <input type="text" name="input-title" id="input-title">

    <label for="input-author">Author: </label>
    <input type="text" name="input-author" id="input-author">

    <label for="input-words">Words: </label>
    <input type="number" name="input-words" id="input-words">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_book.js"></script>