{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<section id="myLibrary">
    <h1>My Library</h1>

    {{#each data}}
        {{>bookTemplate}}
    {{/each}}
    
</section>

<section id="search">
    <h1>Find Books</h1>

    {{!-- Search form --}}
    <form id="search-book-html" method='GET' action='/'>
        <input type="text" placeholder="Search for a book..." name="searchInput" id="input-html-search">
        
        <input type="submit">
        <a href='/'><button>Reset</button></a>
    </form>

    {{!-- Books Table--}}
    <table id="books-table">
        <thead>
            <tr>
                <th>title</th>
                <th>authors</th>
                <th>average_rating</th>
                <th>language_code</th>
                <th>num_pages</th>
                <th>ratings_count</th>
                <th>text_reviews_count</th>
                <th>publication_date</th>
                <th>Add Book</th>
            </tr>
        </thead>

        <tbody>
            {{#each books}}
            <tr data-value={{this.bookID}}>
                <td>{{this.title}}</td>
                <td>{{this.authors}}</td>
                <td>{{this.average_rating}}</td>
                <td>{{this.language_code}}</td>
                <td>{{this.num_pages}}</td>
                <td>{{this.ratings_count}}</td>
                <td>{{this.text_reviews_count}}</td>
                <td>{{this.publication_date}}</td>
                <td><button onclick="addUserBook({{this.bookID}})">Add</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>


<script src="./js/add_userBook.js"></script> 
<script src="./js/delete_userBook.js"></script>



